/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Responsive Layout
Version:	1.0
Author: 	@WebDesignerBen
URI:		https://github.com/BenAttenborough/responsive-layout

--------------------------------------------------------------------

[Table of Contents]

===GLOBAL
===TYPOGRAPHY
===CLEARFIX
===NAVIGATION
===LAYOUT
===MEDIA QUERIES
===MEDIA TABLET
===MEDIA DESKTOP

Note: Project employs mobile-first philosophy, main styles are for
mobile then views are progressively enchanced up to tablet and
desktop

-------------------------------------------------------------------*/



@import 'manifest';