* {
  box-sizing: border-box;
}

//.clearfix::after {
//  content: " ";
//  display: table;
//  clear: both;
//}

video {
  width: 100%;
}

.videoWindow {
  position: relative;
  background-color: black;
}

.video {
  position: relative;
}

.video .video__interface .buttons {
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.video:hover .video__interface .buttons {
  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.video__interface {
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,$interface-opacity);
  //background-color: red;
  padding: 0 10px;
}

.progContainer {
  width: 100%;
  height: 20px;
  //background-color: red;
  @media screen and (min-width: $tablet) {
    height: 25px;
  }
}

.progContainer__inner {
  height: 11px;
  padding-top: 8px;
  @media screen and (min-width: $tablet) {
    height: 15px;
    padding-top: 12px;
  }
}

.progContainer__inner_empty {
  height: 100%;
  background-color: $progress-empty;
}

.progContainer__bar {
  width: 0;
  height: 100%;
  background-color: rgba(0,0,0,$interface-opacity);
}

.buttons {
  height: 20px;
  margin-bottom: 15px;
}

.buttons__play,
.buttons__mute,
.buttons__fullscreen,
.buttons__timeContainer{
  display: inline;
  margin: 0 10px;
}

.buttons__timeContainer{
  position: relative;
  top: -5px;
}

.buttons__fullscreen,
.buttons__mute {
  float: right;
}

.buttons__mute {
  position: relative;
}

.buttons__volume{
  position: absolute;
  height: 100px;
  width: 20px;
  background-color: rgba(50,50,50,0.5);
  top: -120px;
  padding: 5px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;

}

.volume__inner{
  height: 100%;
  background-color: $progress-bar;
}

.volume__inner_empty {
  background-color: #333;
  height: 0%;
}

.buttons__play img,
.buttons__mute img,
.buttons__fullscreen img,
.buttons__timeContainer img {
  height: 100%;
}

.currentTime,
.endTime {
  color: #FFF;
  font-weight: bold;
}

.caption-highlighted {
  color: #ff9900;
  font-weight: bold;
}