video {
  width: 100%;
}


.video-controllers,
.video-controllers button,
.video-controllers img
{
  background-color: #222;
}

.video-controllers{
  padding: 10px;
  margin: 0;
  //border-style: solid;
  border-radius: 0 0 10px 10px;
}

.video-controllers button{
  border-width: 0;
}

.video-controllers p {
  color: white;
  display: inline;
  float: right;
}